@{
	ViewData["Title"] = "ATG Delivery Process";
}

<style>
	.cls-1 {
		fill: #91a43b;
	}

	.cls-2 {
		fill: #bfd74b;
	}

	.cls-3 {
		fill: #15a5b6;
	}

	.cls-4 {
		fill: #0e6d77;
	}

	.cls-5,
	.cls-6 {
		fill: #fff;
	}

	.cls-5 {
		font-size: 28px;
		font-family: proxima-nova, sans-serif;
		font-weight: 600;
	}

	.cls-6 {
		font-size: 16px;
		font-family: proxima-nova, sans-serif;
		font-weight: 500;
	}

	.cls-9 {
		font-size: 42px;
		font-family: proxima-nova, sans-serif;
		font-weight: 500;
		fill: #000;
	}

	.cls-6,
	.cls-9 {
		letter-spacing: 0em;
	}

	.cls-7 {
		letter-spacing: -0.05em;
	}

	.cls-8 {
		letter-spacing: -0.03em;
	}

	.cls-10 {
		letter-spacing: 0em;
	}

	.cls-11 {
		letter-spacing: 0em;
	}

	.cls-12 {
		letter-spacing: -0.04em;
	}

	.cls-13 {
		letter-spacing: -0.01em;
	}

	.cls-14 {
		letter-spacing: 0em;
	}

	.cls-15 {
		letter-spacing: -0.04em;
	}

	.cls-16 {
		letter-spacing: -0.02em;
	}

	.cls-17 {
		letter-spacing: -0.05em;
	}

	.cls-18 {
		letter-spacing: 0em;
	}

	.cls-19 {
		letter-spacing: -0.01em;
	}

	.cls-20 {
		letter-spacing: -0.12em;
	}

	#main_flowchart {
		padding-left: 2rem;
		padding-right: 2rem;
	}
</style>

<div class="ui breadcrumb padding_g">
	<a href="~/ATGProcesses" class="section">ATG Project Delivery System (Main)</a>
	@*<i class="right arrow icon divider"></i>*@
</div>
<div class="padding_t_2em" style="display: block !important;">
	<h1 class="ui horizontal divider header margin_tb">
		ATG Project Delivery System
	</h1>
	<div class="padding_g">
		<p class="">
			Understand ATG's Project Delivery System with these step-by-step flow charts. Some steps may contain other flow charts ( <i class="sitemap icon"></i>), more details ( <i class="external alternate icon"></i>), or open documents ( <i class="file alternate icon"></i>). Clicking on these steps with the following symbols can redirect you to another flow chart, provide more information in a pop-up window, or download a corresponding document.
		</p>
	</div>
	<div class="ui stackable grid">
		<div class="row">
			<div class="eight wide column">
				<div class="key padding_g">
					<h4>Symbols used on flowcharts include:</h4>
					<p><i class="sitemap icon"></i> - View flowchart in depth</p>
					<p><i class="external alternate icon"></i> - Pop-up contains relevant information</p>
					<p><i class="file alternate outline icon"></i> - Download/View related document</p>
				</div>
			</div>
			<div class="eight wide column" align="right">
				<div class="padding_g">
					<a class="ui button" href="/ATGProcesses/Resources">Documents and Resources <i class="list alternate icon" style="padding-left: 1rem;"></i></a>
				</div>
				<sup class="button_sup">(Contains a list of ALL process related documents.)</sup>
			</div>
		</div>
	</div>
	<div id="main_flowchart">
		<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1789.21 709.84">
			<g id="Layer_2" data-name="Layer 2">
				<g id="Layer_1-2" data-name="Layer 1">
					<path class="cls-1" d="M1739.5,340.8,1524,20.61C1509.15-1.52,1474.6,9,1474.6,35.69V676.07c0,26.67,34.55,37.21,49.44,15.08L1739.5,371A27,27,0,0,0,1739.5,340.8Z" />
					<g class="main_arrow node pop_up move_to_right" data-object="qaqc_node">
						<path class="cls-2" d="M1726.52,340.54,1520.46,12.69C1506-10.26,1470.57,0,1470.57,27.07v655.7c0,27.11,35.47,37.33,49.89,14.38L1726.52,369.3A27,27,0,0,0,1726.52,340.54Z" />
						<rect class="cls-2" y="153.67" width="1515.39" height="355.07" rx="51.97" />
						<g>
							<text class="cls-9" transform="translate(300 420)">
								QA/QC: Ongoing Feedback, Assessments, and Improvement
							</text>
						</g>
						<foreignObject width="100" height="100" x="1420" y="370">
							<body xmlns="http://www.w3.org/2000/svg">
								<i class="external alternate icon" width="100" height="100"></i>
								<div class="ui longer modal" id="qaqc_node">
									<i class="close icon"></i>
									<div class="header">
										ATG Quality Assurance and Quality Control Program
									</div>
									<div class="content">
										<div class="description">
											The Alliance Transportation Group (ATG) corporate leadership uses strategic quality planning to establish a vision for the corporation and an action plan to achieve that vision. From that Vision, a set of corporate goals has been established for ATG’s Quality  Assurance and Quality Control Program:
											<ul>
												<li>Establish a corporate culture that values quality and focuses on delivering quality products that meet or exceed client specifications and expectations; </li>
												<li>Develop quality processes at the management level that support the development project teams responsible for the development and delivery of quality products and services to clients; </li>
												<li>Develop a strategic planning process to provide continual improvement in the quality of all corporate products and services; </li>
												<li>Identify internal and external customer requirements and make corporate decisions that support those requirements; </li>
												<li>Require that all employees work as a team to develop and support quality goals; </li>
												<li>Provide training and development to all employees on the processes and methodologies necessary to ensure the creation of quality products and services and the meeting of customer requirements; </li>
												<li>Establish an ongoing process for the collection and analysis of data relative to quality objectives; </li>
												<li>Create a process of improvements based on the analysis of that data; and </li>
												<li>Provide continual feedback to managerial and functional personnel for further quality process improvement. </li>
											</ul>
											<h2>QA/QC Resources</h2>
											<hr />
											The procedures and processes that have been defined for ATG’s Quality Program are described in the ATG Quality Assurance and Quality Control Plan which is one of the resources for QA/QC made available along with other resources assemble by the ATG Quality Committee.  Here are the resources:
											<ul>
												<li>Alliance QA-QC Plan</li>
												<ul>
													<li><a href="~/documents/QA/Alliance QA-QC Plan/Alliance QA_QC Plan.pdf">[PDF] Alliance QA-QC Plan</a></li>
												</ul>
												<li>Alliance QA Audit Forms</li>
												<ul>
													<li><a href="~/documents/QA/Alliance QA Audit Forms/QA Audit Form_031418V5.xlsx">[XLSX] QA Audit Form</a></li>
												</ul>
												<li>Sample Project QA-QC Plans and Templates</li>
												<ul>
													<li><a href="~/documents/QA/Sample Project QA-AC Plans and Templates/PLDV-20xx.00xx QA-QC Plan.docx">[DOCX] PLDV QA-QC Plan</a></li>
												</ul>
												<li>Sample QA and QC Checklists</li>
												<ul>
													<li>Engineering</li>
													<ul>
														<li>ENG_Illumination</li>
														<ul>
															<li><a href="~/documents/QA/Sample QA and QC Checklists/Engineering/ENG_Illumination_031418/Design Plans QA Form.xlsx">Design Plans QA Form</a></li>
															<li><a href="~/documents/QA/Sample QA and QC Checklists/Engineering/ENG_Illumination_031418/Design Plans QC Form.xlsx">Design Plans QC Form</a></li>
															<li><a href="~/documents/QA/Sample QA and QC Checklists/Engineering/ENG_Illumination_031418/Illumination Design Checklist.XLSX">Illumination Design Checklist</a></li>
														</ul>
														<li>ENG_Report</li>
														<ul>
															<li><a href="~/documents/QA/Sample QA and QC Checklists/Engineering/ENG_Report_031418/Report QA form.xlsx">[XLSX] ENG_Report_031418/Report QA form</a></li>
															<li><a href="~/documents/QA/Sample QA and QC Checklists/Engineering/ENG_Report_031418/Report_Checklist.xlsx">[XLSX] ENG_Report_031418/Report_Checklist</a></li>
															<li><a href="~/documents/QA/Sample QA and QC Checklists/Engineering/ENG_Report_031418/Report_QC Form.xlsx">[XLSX] ENG_Report_031418/Report_QC Form</a></li>
														</ul>
														<li>ENG_Roadway</li>
														<ul>
															<li><a href="~/documents/QA/Sample QA and QC Checklists/Engineering/ENG_Roadway_031418/Downtown Station Quality Plan 20160901.docx">[DOCX] Downtown Station Quality Plan</a></li>
															<li><a href="~/documents/QA/Sample QA and QC Checklists/Engineering/ENG_Roadway_031418/Eng - CPPS Ex. 12 Drawing Review Checklist rev 2016 06 03.doc">[DOC] Eng - CPPS Ex. 12 Drawing Review Checklist rev</a></li>
															<li><a href="~/documents/QA/Sample QA and QC Checklists/Engineering/ENG_Roadway_031418/ENG_TEMPLATE_Design_submittal_checklist_10_26_17.pdf">[PDF] ENG TEMPLATE Design submittal checklist</a></li>
															<li><a href="~/documents/QA/Sample QA and QC Checklists/Engineering/ENG_Roadway_031418/ENG-CPPS-Ex11-Proj-Submittal-Checklist-r-2016-06-03.doc">[DOC] ENG CPPS Ex11 Proj Submittal Checklist</a></li>
															<li><a href="~/documents/QA/Sample QA and QC Checklists/Engineering/ENG_Roadway_031418/TxDOT_ConsultantManagement_DesignChecklists.doc">[DOC] TxDOT Consultant Management Design Checklists</a></li>
															<li><a href="~/documents/QA/Sample QA and QC Checklists/Engineering/ENG_Roadway_031418/TxDOT_ConsultantManagement_PS&E_CompletionGuidelines.pdf">[PDF] TxDOT ConsultantManagement PS&E CompletionGuidelines</a></li>
															<li><a href="~/documents/QA/Sample QA and QC Checklists/Engineering/ENG_Roadway_031418/WilcoSubmittalChecklist.doc">[DOC] Wilco Submittal Checklist</a></li>
														</ul>
														<li>ENG_Signals</li>
														<ul>
															<li><a href="~/documents/QA/Sample QA and QC Checklists/Engineering/ENG_Simulation_031418/Vissim_QA Process.xlsx">[XLSX] Vissim_QA Process.xlsx</a></li>
															<li><a href="~/documents/QA/Sample QA and QC Checklists/Engineering/ENG_Signals_031418/Design Plans QC Form.xlsx">[XLSX] Design Plans QC Form.xlsx</a></li>
															<li><a href="~/documents/QA/Sample QA and QC Checklists/Engineering/ENG_Signals_031418/QA QC Plan Set Color Checking.pdf">[PDF] QA QC Plan Set Color Checking.pdf</a></li>
															<li><a href="~/documents/QA/Sample QA and QC Checklists/Engineering/ENG_Signals_031418/Signal Design Checklist.XLSX">[XLSX] Signal Design Checklist.XLSX</a></li>
														</ul>
														<li>ENG_Simulation</li>
														<ul>
															<li><a href="~/documents/QA/Sample QA and QC Checklists/Engineering/ENG_Simulation_031418/Corridor Scoping Checklist.xlsx">[XLSX] Corridor Scoping Checklist.xlsx</a></li>
															<li><a href="~/documents/QA/Sample QA and QC Checklists/Engineering/ENG_Simulation_031418/HCS_QC Process.xlsx">[XLSX] HCS_QC Process</a></li>
															<li><a href="~/documents/QA/Sample QA and QC Checklists/Engineering/ENG_Simulation_031418/iSAT_QC Process.xlsx">[XLSX] iSAT_QC Process</a></li>
															<li><a href="~/documents/QA/Sample QA and QC Checklists/Engineering/ENG_Simulation_031418/Synchro_QC Process.xlsx">[XLSX] Synchro_QC Process</a></li>
															<li><a href="~/documents/QA/Sample QA and QC Checklists/Engineering/ENG_Simulation_031418/Vissim_QA Process.xlsx">[XLSX] Vissim_QA Process</a></li>
															<li><a href="~/documents/QA/Sample QA and QC Checklists/Engineering/ENG_Simulation_031418/Vissim_QC Process.xlsx">[XLSX] Vissim_QC Process</a></li>
														</ul>
														<li>ENG_TCPS</li>
														<ul>
															<li><a href="~/documents/QA/Sample QA and QC Checklists/Engineering/ENG_TCPs_031418/TCP checklist detour.docx">[DOCX] TCP checklist detour</a></li>
															<li><a href="~/documents/QA/Sample QA and QC Checklists/Engineering/ENG_TCPs_031418/TCP checklist.xlsx">[XLSX] TCP checklist</a></li>
															<li><a href="~/documents/QA/Sample QA and QC Checklists/Engineering/ENG_TCPs_031418/TCP QA Form.xlsx">[XLSX] TCP QA Form</a></li>
															<li><a href="~/documents/QA/Sample QA and QC Checklists/Engineering/ENG_TCPs_031418/TCP QC Form.xlsx">[XLSX] TCP QC Form</a></li>
														</ul>
														<li>ENG_TIA</li>
														<ul>
															<li><a href="~/documents/QA/Sample QA and QC Checklists/Engineering/ENG_TIA_031418/Flow Chart Formatting v2.pdf">[PDF] Flow Chart Formatting</a></li>
															<li><a href="~/documents/QA/Sample QA and QC Checklists/Engineering/ENG_TIA_031418/TIA QAQC.docx">[DOCX] TIA QAQC</a></li>
															<li><a href="~/documents/QA/Sample QA and QC Checklists/Engineering/ENG_TIA_031418/TIA QAQC.xlsx">[XLSX] TIA QAQC</a></li>
															<li><a href="~/documents/QA/Sample QA and QC Checklists/Engineering/ENG_TIA_031418/TIA QC Checklist FILLABLE.pdf">[PDF] TIA QC Checklist (Fillable)</a></li>
														</ul>
														<li>
															[JPG] Alliance Internal QAQC Stamp
															<br />
															<a href="~/documents/QA/Sample QA and QC Checklists/Engineering/Alliance_InternalQAQC_Stamp(05-02-2016).jpg"><img src="~/documents/QA/Sample QA and QC Checklists/Engineering/Alliance_InternalQAQC_Stamp(05-02-2016).jpg" width="30%" /></a>

														</li>
														<li>
															<a href="~/documents/QA/Sample QA and QC Checklists/Engineering/Corridor Scoping Checklist.xlsx">Corridor Scoping Checklist</a>
														</li>
													</ul>
													<li>Planning</li>
													<ul>
														<li>Data</li>
														<ul>
															<li><a href="~/documents/QA/Sample QA and QC Checklists/Planning/Data/Quality Control Process for data20151007.docx">[DOCX] Quality Control Process for Data</a></li>
														</ul>
														<li>Travel Demand Forecasting</li>
														<ul>
															<li><a href="~/documents/QA/Sample QA and QC Checklists/Planning/Travel Demand Forecasting/Modeling Checklist.docx">[DOCX] Modeling Checklist</a></li>
															<li><a href="~/documents/QA/Sample QA and QC Checklists/Planning/Travel Demand Forecasting/Modeling Process QC rmc.docx">[DOCX] Modeling Process QC rmc</a></li>
															<li><a href="~/documents/QA/Sample QA and QC Checklists/Planning/Travel Demand Forecasting/Modeling Project Quality.docx">[DOCX] Modeling Project Quality</a></li>
															<li><a href="~/documents/QA/Sample QA and QC Checklists/Planning/Travel Demand Forecasting/Quality Control Process for Model Appropriateness.docx">[DOCX] Quality Control Process for Model Appropriateness</a></li>
															<li><a href="~/documents/QA/Sample QA and QC Checklists/Planning/Travel Demand Forecasting/Quality Control Process for Model Network Layers.docx">[DOCX] Quality Control Process for Model Network Layers</a></li>
															<li><a href="~/documents/QA/Sample QA and QC Checklists/Planning/Travel Demand Forecasting/Starting New Model Sceario_Quality Control Process for Model Runs .docx">[DOCX] Starting New Model Scenario_Quality Control Process for Model Runs</a></li>

														</ul>
													</ul>
													<li>Technical Writing and Meeting Displays</li>
													<ul>
														<li><a href="~/documents/QA/Sample QA and QC Checklists/Technical Writing and Meeting Displays/Proofreading Check List.pdf">[PDF] Proofreading Check List</a></li>
														<li><a href="~/documents/QA/Sample QA and QC Checklists/Technical Writing and Meeting Displays/Quality Control Process for Meeting Exhibits.docx">[DOCX] Quality Control Process for Meeting Exhibits</a></li>
														<li><a href="~/documents/QA/Sample QA and QC Checklists/Technical Writing and Meeting Displays/Technical Writer Quality Control Template.docx">[DOCX] Technical Writer Quality Control Template</a></li>
													</ul>
												</ul>
												<li>Sample QA and QC Logs</li>
												<ul>
													<li><a href="~/documents/QA/Sample QA and QC Logs/Comment Response Form.xlsx">[XLSX] Comment Response Form</a></li>
												</ul>
											</ul>
										</div>
									</div>
								</div>
							</body>
						</foreignObject>
					</g>
					<a xlink:href="/ATGProcesses/RecordsRetention">
						<g class="node move_to_right link" id="retention_schedule">
							<foreignObject width="50" height="50" x="1520" y="105">
								<body xmlns="http://www.w3.org/2000/svg">
									<i class="sitemap icon inverted" width="50" height="50"></i>
								</body>
							</foreignObject>
							<rect class="cls-3" x="1530" y="100" width="225" height="220" rx="15" />
							<rect class="cls-4" x="1515" y="100" width="225" height="220" rx="15" />
							<text class="cls-5" transform="translate(1570 175)">
								Retention
								<tspan x="5" y="30">Schedule</tspan>
							</text>
							<text class="cls-6" transform="translate(1570 230)">
								Hard Copy Files,
								<tspan x="5" y="20">Electronic Files</tspan>
							</text>
						</g>
					</a>
					<a xlink:href="/ATGProcesses/ProjectCloseout">
						<g class="node pop_up move_to_right">
							<rect class="cls-3" x="1399.89" y="302.93" width="61.02" height="17.33" transform="translate(2.77 -12.47) rotate(0.5)" />
							<rect class="cls-3" x="1399.89" y="98.25" width="61.02" height="17.33" />
							<path class="cls-3" d="M1441.4,311.78l-65-82.53c-9.11-11.57-8.9-30.36.49-41.76l66.52-80.77c9.4-11.42,24.57-11.28,33.7.31l65,82.46c9.06,11.49,8.85,30.17-.48,41.49l-66.8,81.11C1465.46,323.39,1450.45,323.25,1441.4,311.78Z" />
							<path class="cls-4" d="M1268.81,289.74l1.37-164.55c.13-15.81,10.71-28.61,23.52-28.45l150.9,1.93c12.83.16,23.22,13.25,23.09,29.09l-1.36,164.45c-.13,15.71-10.65,28.43-23.38,28.27l-151.27-1.93C1279,318.39,1268.68,305.42,1268.81,289.74Z" />
							<path class="cls-4" d="M1431.06,309.47l-64-81.05c-9-11.37-8.82-29.77.34-40.9l64.89-78.92c9.17-11.15,24-11,33,.43l63.91,81c8.92,11.29,8.76,29.58-.33,40.64l-65.17,79.24C1454.66,320.93,1440,320.74,1431.06,309.47Z" />
							<text class="cls-5" transform="translate(1340 150)">
								Project
								<tspan x="-10" y="30">Closeout</tspan>
							</text>
							<text class="cls-6" transform="translate(1335 205)">
								Closeout Form,
								<tspan x="5" y="20">Client Survey,</tspan>
								<tspan x="-7" y="40">Update Resumes,</tspan>
								<tspan x="2" y="60">Update Project</tspan>
								<tspan x="15" y="80">Description</tspan>
							</text>
							<foreignObject width="50" height="50" x="1290" y="105">
								<body xmlns="http://www.w3.org/2000/svg">
									<i class="sitemap icon inverted" width="100" height="100"></i>
								</body>
							</foreignObject>
						</g>
					</a>
					<a xlink:href="/ATGProcesses/ProjectExecution">
						<g class="node move_to_right link" id="project_execution">
							<foreignObject width="50" height="50" x="1040" y="105">
								<body xmlns="http://www.w3.org/2000/svg">
									<i class="sitemap icon inverted" id="icon_bd" width="100" height="100"></i>
								</body>
							</foreignObject>
							<rect class="cls-3" x="1158.75" y="302.93" width="61.02" height="17.33" transform="translate(2.76 -10.37) rotate(0.5)" />
							<rect class="cls-3" x="1158.75" y="98.25" width="61.02" height="17.33" />
							<path class="cls-3" d="M1200.26,311.78l-65-82.53c-9.12-11.57-8.9-30.36.48-41.76l66.53-80.77c9.4-11.42,24.57-11.28,33.7.31l65,82.46c9.06,11.49,8.84,30.17-.48,41.49l-66.8,81.11C1224.32,323.39,1209.3,323.25,1200.26,311.78Z" />
							<path class="cls-4" d="M1027.67,289.74,1029,125.19c.14-15.81,10.72-28.61,23.53-28.45l150.9,1.93c12.83.16,23.22,13.25,23.09,29.09l-1.36,164.45c-.13,15.71-10.65,28.43-23.38,28.27l-151.27-1.93C1037.83,318.39,1027.54,305.42,1027.67,289.74Z" />
							<path class="cls-4" d="M1189.92,309.47l-64-81.05c-9-11.37-8.81-29.77.34-40.9l64.9-78.92c9.17-11.15,24-11,33,.43l63.91,81c8.91,11.29,8.76,29.58-.34,40.64l-65.16,79.24C1213.52,320.93,1198.81,320.74,1189.92,309.47Z" />
							<text class="cls-5" transform="translate(1100 160)">
								Project
								<tspan x="-15" y="30">Execution</tspan>
							</text>
							<text class="cls-6" transform="translate(1097 215)">
								Project Setup,
								<tspan x="-17" y="20">Project Work Plans,</tspan>
								<tspan x="-20" y="40">Project Performance,</tspan>
								<tspan x="-23" y="60">Production, Reporting</tspan>
							</text>
						</g>
					</a>
					<a xlink:href="/ATGProcesses/Contracts">
						<g class="node move_to_right link" id="contracts">
							<foreignObject width="50" height="50" x="797.82" y="102.93">
								<body xmlns="http://www.w3.org/2000/svg">
									<i class="sitemap icon inverted" id="icon_bd" width="50" height="50"></i>
								</body>
							</foreignObject>
							<rect class="cls-3" x="915.82" y="302.93" width="61.02" height="17.33" transform="translate(2.76 -8.25) rotate(0.5)" />
							<rect class="cls-3" x="915.82" y="98.25" width="61.02" height="17.33" />
							<path class="cls-3" d="M957.33,311.78l-65-82.53c-9.12-11.57-8.9-30.36.48-41.76l66.53-80.77c9.4-11.42,24.57-11.28,33.7.31l65,82.46c9.06,11.49,8.84,30.17-.48,41.49l-66.8,81.11C981.39,323.39,966.37,323.25,957.33,311.78Z" />
							<path class="cls-4" d="M784.74,289.74l1.36-164.55c.14-15.81,10.72-28.61,23.53-28.45l150.9,1.93c12.83.16,23.22,13.25,23.09,29.09l-1.36,164.45c-.13,15.71-10.65,28.43-23.38,28.27l-151.27-1.93C794.9,318.39,784.61,305.42,784.74,289.74Z" />
							<path class="cls-4" d="M947,309.47l-64-81.05c-9-11.37-8.81-29.77.34-40.9l64.9-78.92c9.17-11.15,24-11,33,.43l63.91,81c8.91,11.29,8.76,29.58-.34,40.64l-65.16,79.24C970.59,320.93,955.88,320.74,947,309.47Z" />
							<text class="cls-5" transform="translate(850 185)">
								Contracts
							</text>
							<text class="cls-6" transform="translate(835 210)">
								Negotiations, Contract
								<tspan x="-5" y="20">Provisions, COI, Contract</tspan>
								<tspan x="0" y="40">Review, Fully Executed</tspan>
							</text>
						</g>
					</a>
					<a xlink:href="/ATGProcesses/BusinessDevelopment">
						<g class="node move_to_right link" id="business_development">
							<foreignObject width="50" height="50" x="557.03" y="102.93">
								<body xmlns="http://www.w3.org/2000/svg">
									<i class="sitemap icon inverted" id="icon_bd" width="50" height="50"></i>
								</body>
							</foreignObject>
							<rect class="cls-3" x="674.03" y="302.93" width="61.02" height="17.33" transform="translate(2.75 -6.14) rotate(0.5)" />
							<rect class="cls-3" x="674.03" y="98.25" width="61.02" height="17.33" />
							<path class="cls-3" d="M715.54,311.78l-65-82.53c-9.12-11.57-8.9-30.36.48-41.76l66.53-80.77c9.4-11.42,24.57-11.28,33.7.31l65,82.46c9.06,11.49,8.84,30.17-.48,41.49l-66.8,81.11C739.6,323.39,724.58,323.25,715.54,311.78Z" />
							<path class="cls-4" d="M543,289.74l1.36-164.55c.14-15.81,10.72-28.61,23.53-28.45l150.9,1.93c12.83.16,23.22,13.25,23.09,29.09l-1.36,164.45c-.13,15.71-10.65,28.43-23.38,28.27l-151.27-1.93C553.11,318.39,542.82,305.42,543,289.74Z" />
							<path class="cls-4" d="M705.2,309.47l-64-81.05c-9-11.37-8.81-29.77.34-40.9l64.9-78.92c9.17-11.15,24-11,33,.43l63.91,81c8.91,11.29,8.76,29.58-.34,40.64l-65.16,79.24C728.8,320.93,714.09,320.74,705.2,309.47Z" />
							<text class="cls-5" transform="translate(625 170)">
								Business
								<tspan x="-25" y="30">Development</tspan>
							</text>
							<text class="cls-6" transform="translate(620 225)">
								Capture Planning,
								<tspan x="-5" y="20">Proposal, Interview,</tspan>
								<tspan x="30" y="40">Selection</tspan>
							</text>
						</g>
					</a>
					<a xlink:href="/ATGProcesses/AnnualBusinessPlan">
						<g class="node move_to_right link" id="annual_business_plan">
							<foreignObject width="50" height="50" x="310" y="105">
								<body xmlns="http://www.w3.org/2000/svg">
									<i class="sitemap icon inverted" width="50" height="50"></i>
								</body>
							</foreignObject>
							<rect class="cls-3" x="431.49" y="302.93" width="61.02" height="17.33" transform="translate(2.74 -4.02) rotate(0.5)" />
							<rect class="cls-3" x="431.49" y="98.25" width="61.02" height="17.33" />
							<path class="cls-3" d="M473,311.78l-65-82.53c-9.12-11.57-8.9-30.36.48-41.76L475,106.72c9.4-11.42,24.56-11.28,33.7.31l65,82.46c9.06,11.49,8.84,30.17-.48,41.49l-66.8,81.11C497.06,323.39,482,323.25,473,311.78Z" />
							<path class="cls-4" d="M300.41,289.74l1.36-164.55c.13-15.81,10.72-28.61,23.53-28.45l150.9,1.93c12.83.16,23.22,13.25,23.09,29.09l-1.37,164.45c-.13,15.71-10.65,28.43-23.38,28.27l-151.27-1.93C310.57,318.39,300.28,305.42,300.41,289.74Z" />
							<path class="cls-4" d="M462.65,309.47l-64-81.05c-9-11.37-8.81-29.77.34-40.9l64.9-78.92c9.17-11.15,24-11,33,.43l63.91,81c8.91,11.29,8.76,29.58-.34,40.64l-65.16,79.24C486.26,320.93,471.55,320.74,462.65,309.47Z" />
							<text class="cls-5" transform="translate(380 170)">
								Annual
								<tspan x="-35" y="30">Business Plan</tspan>
							</text>
							<text class="cls-6" transform="translate(364 225)">
								Revenue Estimate,
								<tspan x="20" y="20">Staffing Plan,</tspan>
								<tspan x="35" y="40">Budget</tspan>
							</text>
						</g>
					</a>
					<a xlink:href="/ATGProcesses/StrategicPlan">
						<g class="node move_to_right link" id="strategic_plan">
							<foreignObject width="50" height="50" x="65" y="105">
								<body xmlns="http://www.w3.org/2000/svg">
									<i class="sitemap icon inverted" id="icon_bd" width="50" height="50"></i>
								</body>
							</foreignObject>
							<rect class="cls-3" x="186.47" y="302.93" width="61.02" height="17.33" transform="translate(2.73 -1.88) rotate(0.5)" />
							<rect class="cls-3" x="186.47" y="98.25" width="61.02" height="17.33" />
							<path class="cls-3" d="M228,311.78l-65-82.53c-9.12-11.57-8.9-30.36.48-41.76L230,106.72c9.4-11.42,24.57-11.28,33.7.31l65,82.46c9.06,11.49,8.84,30.17-.48,41.49l-66.8,81.11C252,323.39,237,323.25,228,311.78Z" />
							<path class="cls-4" d="M55.39,289.74l1.36-164.55c.14-15.81,10.72-28.61,23.53-28.45l150.9,1.93c12.83.16,23.22,13.25,23.09,29.09l-1.36,164.45c-.13,15.71-10.66,28.43-23.38,28.27L78.26,318.55C65.55,318.39,55.26,305.42,55.39,289.74Z" />
							<path class="cls-4" d="M217.63,309.47l-64-81.05c-9-11.37-8.81-29.77.34-40.9l64.9-78.92c9.17-11.15,24-11,33,.43l63.91,81c8.91,11.29,8.76,29.58-.34,40.64l-65.16,79.24C241.24,320.93,226.53,320.74,217.63,309.47Z" />
							<text class="cls-5" transform="translate(90 200)">
								Strategic Plan
							</text>
							<text class="cls-6" transform="translate(110 225)">
								5 Year Plan, Goals
							</text>
						</g>
					</a>
				</g>
			</g>
		</svg>
	</div>

</div>

@section Scripts
{
	<script>
		//Semantic Ui Modals.
		$('.node').on('click', function () {
			$('.ui.modal#' + $(this).attr('data-object')).modal('show');
		});

		$('.node').hover(function () {
			$(this).find('.cls-4').addClass('is_hovered');
		}, function () {
			$(this).find('.cls-4').removeClass('is_hovered');
		});
	</script>
}
